@media screen and (min-width: 480px) {
    .container {
        width: 428px;
    }
    .menu-container  {
        width: 428px;
    }
    .footer-input {
        width:428px;
    }
}
@media screen and (max-width: 1199px) {
    .about-section {
        display: none;
    }
    .benefits-set > .benefits-item::before {
        display: none;
    }
    
}
@media screen and (max-width: 767px) {
    
    
    .modal {
        margin-left: auto;
        margin-right: auto;
        max-width: 392px;
        /* min-height: 584px;  */
        }
    
}