@media screen and (min-width: 480px) {
    .container {
        width: 428px;
    }
    .footer-input {
        width:428px;
    }
}

@media screen and (max-width: 1199px) {
    .about-section {
        display: none;
    }
    .benefits-set > .benefits-item::before {
        display: none;
    }
    
}